body {
   font-family: 'Source Code Pro';
   background: #2E2E2E;
}

#content {
    width: 100%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

canvas {
    width: 2095px;
    height: 1000px;
    background: url('/static/floorplan.jpg');
}

.tt-dropdown-menu {
    background: white;
    padding: 5px;
}
