body {
   background: #2E2E2E;
}

svg text tspan{
    font-size: 2em;
}

#content {
    width: 100%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.tt-dropdown-menu {
    background: white;
    padding: 5px;
    border: 1px solid black;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

#alertField {
    position: absolute;
    z-index: 100;
}

#logo {
    display: none;
    position:absolute;
    z-index: 300;
}