<!doctype html>
<head>
    <title>Where's My Professor?</title>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/static/js/jquery.konami.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead.bundle.min.js"></script>
    <script src="/static/js/raphael-min.js"></script>
</head>

<body>
    <div class="navbar-header" id="navheader">
        <a class="navbar-brand" href="#">Where's My Professor?</a>
            <div class="navbar-form navbar-left">
                <input type="text" class="form-control typeahead" id="findName" placeholder="Enter Professor's Name" />
                <button type="button" class="form-control btn btn-default" id="findButton">Search</button>
                <button type="button" class="btn btn-default" id="requestButton">
                    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                </button>
            </div>
    </div>
    
    <div class="alert alert-warning alert-dismissible" role="alert" id="alertField">
      <button type="button" class="close" aria-label="Close" id="closeAlertButton"><span aria-hidden="true">&times;</span></button>
      <strong>Hey, listen!</strong> Have you seen <strong><span id="whoIsBeingLookedFor"></span></strong> anywhere?
    </div>
    
    <div id="content">
        <div id="map"></div>
    </div>    

    <div class="modal fade" id="insertModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Who did you find?</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <input type="text" class="form-control typeahead" id="insertName" placeholder="Enter Name here" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveInsertModal">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="requestModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-inline">
                        <span>Who are you looking for?</span><br />
                        <input type="text" class="form-control typeahead" id="requestName" placeholder="Enter Name here" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="requestModalSubmit">Find them, <strike>dead or</strike> alive!</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
